html,body{
    font: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
#layout {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

#centercontainter {
    height: 90%;
    width:100%;
}
#centercontainter #surnamemap {
   height: 100%;
    width: 49.5%;
    float: left;
}

#centercontainter #forenamemap {
   height: 100%;
    width: 49.5%;
    float:right;
}


#capturedimagelink {
    
}

#surnameContainer {
    width:50%;
    float:left;
}

#forenameContainer {
    width:50%;
    float:right;
}

#socialMedia{
    margin: 0 auto;
    text-align: center;
}

#loadingforename{
    position:absolute;
    z-index:99;
}

#loadingsurname{
	position:absolute;
    z-index:99;
}
#footer {
    position: relative;
    height: 10%;
}
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
